@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('../assets/fonts/Raleway-Regular.woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('../assets/fonts/Raleway-Bold.woff');
}

@font-face {
  font-family: 'QuincyCF';
  font-weight: 400;
  src: url('../assets/fonts/QuincyCF-Regular.woff');
}

@font-face {
  font-family: 'QuincyCF';
  font-weight: 700;
  src: url('../assets/fonts/QuincyCF-Bold.woff');
}
