// *** COLORS ***
$Black: #282828;
$Orange: #E46A4F;
$DarkBlue: #4A7987;
$LightBlue: #F0FBFE;
$LightYellow: #FEFBF6;

// *** FONTS ***
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'QuincyCF', sans-serifs;