.logo {
  width: 203px;
  height: 110px;
  transition: opacity 80ms linear;

  &:hover {
    opacity: 0.7;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include media-1024 {
    width: 199px;
    height: 83px;
  }

  @include media-sm {
    width: 150px;
    height: 63px;
  }
}

.author {
  display: flex;
  align-items: center;

  &__img-wrapper {
    margin-right: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-family: $secondaryFont;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
  }

  &__category {
    color: $DarkBlue;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    &:hover {
      color: $Orange;
    }
  }

  @include media-1024 {
    &__img-wrapper {
      width: 80px;
      height: 80px;
    }
  }

  @include media-sm {
    &__img-wrapper {
      width: 50px;
      height: 50px;
    }

    &__name {
      font-size: 16px;
      line-height: 20px;
    }

    &__category {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.article-preview {
  img {
    width: 100%;
    object-fit: cover;
  }

  &__category-link {
    padding-top: 20px;
    padding-bottom: 17px;
  }

  &__text {
    margin: 0;
    padding: 13px 0;
  }
}

.socials {
  &__list {
    display: flex;
  }

  &__item {
    width: 30px;
    height: 30px;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}