.header {
  position: relative;
  padding-bottom: 50px;

  &__top {
    width: 100vw;
    height: 150px;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 99;

    transition: height 150ms linear;

    &-wrapper {
      max-width: 1264px;
      width: 100%;
      height: 100%;
      padding: 0 32px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__search {
    cursor: pointer;
    transition: transform 100ms linear;

    &:hover {
      transform: translateY(2px);
    }
  }

  &__nav {
    height: 103px;
  }

  &__slider {
    position: relative;

    .slick-dots {
      height: 20px;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);

      display: flex;
      align-items: center;

      &::before,
      &::after {
        font-family: $secondaryFont;
        font-size: 18px;
        line-height: 24px;
      }


      &::before {
        content: attr(data-before);
        margin-right: 20px;
        color: $DarkBlue;
      }

      &::after {
        content: attr(data-after);
        margin-left: 20px;
        color: #f3f3f3;
      }

      li {
        width: 60px;
        height: 10px;
        position: relative;
        font-size: 0;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          top: 4px;
          left: 0;
          background-color: #f3f3f3;
        }

        button {
          visibility: hidden;
        }

        &.slick-active {
          &::before {
            height: 3px;
            background-color: $DarkBlue;
          }
        }
      }
    }
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 501px;

    &-img {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(240, 232, 223, 0.7), rgba(196, 196, 196, 0));
      }
    }

    &-textcontent {
      max-width: 550px;
      position: absolute;
      top: 107px;
      left: 63px;
    }

    &-title {
      font-family: $secondaryFont;
      font-size: 40px;
      line-height: 48px;
    }

    &-text {
      max-width: 449px;
    }
  }

  @include media-1024 {
    &__top {
      height: 140px;
    }

    &__nav {
      height: 81px;
      font-size: 16px;
      line-height: 21px;
    }

    &__slider {
      .slick-dots {
        bottom: 30px;
      }
    }

    &__slide {
      height: 382px;

      &-textcontent {
        top: 57px;
      }

      &-title {
        font-size: 36px;
        line-height: 44px;
      }
    }
  }

  @include media-sm {
    &__top {
      height: 111px;

      &-wrapper {
        padding: 0 24px;
      }
    }

    &__nav {
      display: none !important;
    }

    &__slider {
      .slick-dots {
        bottom: 30px;
      }
    }

    &__slide {
      height: 385px;

      &-textcontent {
        max-width: 300px;
        top: 71px;
      }

      &-title {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  @include media-xs {
    padding-bottom: 5px;

    .container {
      padding: 0;
    }

    &__top {
      height: 93px;

      &-wrapper {
        padding: 0 20px;
      }
    }

    &__slider {
      .slick-dots {
        top: 180px;

        li {
          width: 40px;
        }
      }
    }

    &__slide {
      height: 305px;

      &-img {
        height: 214px;
      }

      &-textcontent {
        max-width: 420px;
        padding: 0 20px;
        top: 75%;
        left: 0;
      }

      &-title {
        margin: 10px 0;
        font-size: 20px;
        line-height: 24px;
      }

      &-text {
        display: none;
      }
    }
  }

  &__top {
    &--onscroll {
      height: 60px;
      background-color: rgba(255, 255, 255, 0.9);

      .header__logo {
        width: 135px;
      }
    }
  }
}

.header-nav {
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $secondaryFont;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 55px;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      top: 35%;
      right: -30px;

      width: 5px;
      height: 5px;
      background-color: $Black;
      border-radius: 50%;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    @include media-sm {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__link {
    transition: color 100ms linear;

    &:hover {
      color: $Orange;
    }
  }
}