.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--search {
    background-image: url('../assets/img/sprite.svg#search');
  }

  &--instagram {
    background-image: url('../assets/img/sprite.svg#instagram');
  }

  &--facebook {
    background-image: url('../assets/img/sprite.svg#facebook');
  }

  &--twitter {
    background-image: url('../assets/img/sprite.svg#twitter');
  }
}