.popular {

  &__body {
    padding-top: 50px;
  }

  &__list {
    margin: 0 auto;
  }

  &__item {
    display: none;
    max-width: 373px;
  }

  &__btn {
    margin: 45px auto 0;
  }

  @include media-1024 {
    &__item {
      max-width: 295px;
    }
  }

  @include media-sm {
    &__item {
      max-width: 340px;
    }

    &__btn {
      margin: 0 auto;
    }
  }

  @include media-xs {
    &__item {
      max-width: 280px;
    }
  }
}