.popular {

  &__body {
    padding-top: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__item {
    display: none;
    max-width: 373px;
  }

  &__btn {
    margin: 45px auto 0;
  }

  @include media-sm {
    &__btn {
      margin: 0 auto;
    }
  }
}