@import './mixins/media';
@import './mixins/font';

@import './common/_normalize';
@import './common/_variables';
@import './common/_global';
@import './common/_fonts';

@import './_common-classes';
@import './_icons';
@import './_buttons';
@import './_blocks';
@import './_burger';
@import './_header';
@import './_footer';
@import './_popup-menu';
@import './_search-popup';
@import './_section';
@import './_section-articles';
@import './_section-expert-columns';
@import './_section-questions-to-expert';
@import './_section-popular';

body {
  font-family: $primaryFont;
  color: $Black;
  overflow-x: hidden;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.main {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 32px;

  @include media-sm {
    padding: 0 24px;
  }

  @include media-xs {
    padding: 0 20px;
  }
}